body {
  background: #F1F3FA;
}
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}
.glyphicon {
    margin-bottom: 0px;
}

.modal {
  display: block;
}
